<div class="row full">
  
  <div ng-include="'views/includes/movie-navigation.html'" class="col-xs-12 movie-links"></div>
 
  <div class="col-xs-12 col-sm-7 col-sm-push-5 col-lg-5 col-lg-push-7 image-container">
    <div class="image-wrapper">
      <
      <div class="background">
        <h3 class="text-center visible-xs">{{ movie.selectedMovie.trackName }}</h3>
        <img ng-src="{{ movie.selectedMovie.artworkUrl600 }}" alt="{{ movie.selectedMovie.trackName }}-poster image"/>
        <div title="popularity ranking" class="popularity-ranking">{{ movie.selectedMovie.index }}</div>
        <div title="Bookmarked movie" ng-hide="$state.is('main.bookmarks') || !localStorageService.isSupported || !movie.selectedMovie.isBookmarked" class="bookmarked-icon">
          <i class="fa fa-check-square"></i>
        </div>
      </div>
    </div>
  </div>
 
  <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-lg-7 col-lg-pull-5 info-container">
   <div class="info-wrapper">
    
     <h3 class="text-center hidden-xs">{{ movie.selectedMovie.trackName }}</h3>
     <div scroll-bar class="description">{{ movie.selectedMovie.longDescription }}</div>
     <div class="gradient-wrapper">
     
      <ul class="details">
     
       <li>
         <label><i class="fa fa-calendar"></i> Дата выхода</label>
         <div class="data">{{ movie.selectedMovie.releaseDate | date:'longDate' }}</div>
       </li>
      
       <li>
         <label><i class="fa fa-tag"></i> Жанр</label>
         <div class="data">{{ movie.selectedMovie.primaryGenreName }}</div>
       </li>
      
       <li>
         <label><i class="fa fa-user"></i> Режиссер</label>
         <div class="data">{{ movie.selectedMovie.artistName }}</div>
       </li>
      
       <li>
         <label><i class="fa fa-money"></i> Цена</label>
         <span ng-show="movie.selectedMovie.collectionHdPrice" ><span>HD:</span> {{ movie.selectedMovie.collectionHdPrice }}$</span>
         <span ng-show="movie.selectedMovie.trackHdRentalPrice"> | </span>
         <span ng-show="movie.selectedMovie.trackHdRentalPrice"><span>Rental HD:</span> {{ movie.selectedMovie.trackHdRentalPrice }}$</span>
       </li>
      
       <li>
         <label><i class="fa fa-video-camera"></i> Рейтинг:</label>
         <div class="data">{{ movie.selectedMovie.contentAdvisoryRating }}</div>
       </li>
       <li>
         <label> <a href="{{ movie.selectedMovie.trackViewUrl }}"> <i class="fa fa-apple"></i> Ссылка</a></label>
       </li>
       <li class="add text-center" ng-if="localStorageService.isSupported && !movie.selectedMovie.isBookmarked" ng-click="movie.bookmarksService.addToBookmarks(movie.selectedMovie)">
         <div class="bookmark-wrapper">
           <div class="icon fa fa-bookmark color-effect" aria-hidden="true"></div>
           <label>Добавить в избранное</label>
         </div>
       </li>
       <li class="remove text-center" ng-if="localStorageService.isSupported && movie.selectedMovie.isBookmarked" ng-click="movie.bookmarksService.removeFromBookmarks(movie.selectedMovie)">
           <div class="bookmark-wrapper">
             <div class="icon fa fa-trash-o color-effect" aria-hidden="true"></div>
             <label>Удалить из избранного</label>
           </div>
         </li>
      </ul>
     
      <div class="text-center trailer">
        <div class="color-effect link" ng-click="$state.go('main.movie.trailer', {'name': movie.selectedMovie.urlAlias, 'originBookmark': movie.selectedMovie.originBookmark})">
         <label class="color-effect">Посмотреть трейлер</label>
         <div class="wrapper"> <i class="fa fa-youtube-play"></i> </div>
        </div>
       </div>
    </div>
    </div>
  </div>
</div>
